<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
  <trust level="Full" />
    <system.web>
       <trust level="Full" />
    </system.web>
  <runtime>
    <!-- enables legacy CAS policy for this process -->
    <NetFx40_LegacySecurityPolicy enabled="true" />
    <loadFromRemoteSources enabled="true" />
  </runtime>
</configuration>
